.loader {
  display: flex;
  flex-direction: column;
  height: 100svh;

  .bars {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    z-index: 2;
  }

  .bar {
    width: calc(100vw / 7);
    min-width: 1rem;
    height: 100%;
    background: #121212;
    font-family: Grotesque;
    fill: white;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  }
}