-- .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #000;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
}

.navItem {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 12px;
  font-family: Grotesque;
}

.navItem:hover {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 5px black;
  backdrop-filter: blur(10px);
}

.active {
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.pageContainer {
  height: 100svh;
  background-color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 50%;
}

.heading {
  font-size: 3rem;
  text-decoration: outline;
  font-weight: bold;
  color: white;
  font-family: Grotesque;
}

.svg {
  height: 7rem;
  width: 25rem;
}

.text {
  font-family: Grotesque;
  backdrop-filter: blur(5px);
  filter: url('#noise-filter');
  fill: rgb(255, 255, 255, 1);
//   text-shadow: 0 0 2px #000;
}

#noise-filter {
  visibility: hidden;
}
