-- .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #000;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  z-index: 1;
  position: relative;
}

.navItem {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 8px 12px;
  border-radius: 12px;
  font-family: Grotesque;
}

.navItem:hover {
  color: white;
  background: rgba(0, 0, 0, 0.05);
}

.active {
  color: white;
  background: rgba(0, 0, 0, 0.1);
}

.pageContainer {
  min-height: 100vh;
  background-color: #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  position: relative;
  z-index: 1;
}

.heading {
  font-size: 3rem;
  text-decoration: outline;
  font-weight: bold;
  color: white;
  font-family: Grotesque;
}
